*.gif diff=image
*.jpg diff=image
*.png diff=image
*.h5  diff=hdf5
*.sod diff=hdf5
*.sod diff=hdf5
*.zip diff=zip
*.zcos diff=zcos
*.odp diff=odf
*.odt diff=odf

*.vcxproj   text eol=crlf
*.sh        text eol=lf
*.sci       text eol=lf
*.tst       text eol=lf
*.md        text eol=lf

